html, body, app-root, .app-frame {
  overflow: auto;
  margin: 0;
  height: 100%;
  box-sizing: border-box;
  color: #e0e0e0;
}

main {
  width: 80%;
  margin: 1rem auto;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #7b1fa2;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #69f0ae;
}

/*#f44336*/
